neo4j
spacy
langchain
matplotlib
pytesseract
llama-index
scikit-learn
python-dotenv
langchain_openai
langchain_experimental
multilingual_pdf2text
https://gitlab.com/trungtv/vi_spacy/-/raw/master/packages/vi_core_news_lg-3.6.0/dist/vi_core_news_lg-3.6.0.tar.gz
pyvi
neo4j
uvicorn
fastapi